<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.firstname }} {{ currentUser.lastname }} ({{ currentUser.username }})</strong> Exam registration
    </h3>
  </header>
  <strong>Subjects :</strong>
  <div class="alert alert-danger" role="alert" *ngIf="!currentUser.subjects.length">
    This user has no subjects assigned to them
  </div>
  <table class="table" *ngIf="currentUser.subjects.length">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of currentUser.subjects; index as i">
        <th scope="row">{{i}}</th>
        <th scope="row">{{subject.id}}</th>
        <th>{{subject.name}}</th>
        <th>
          <button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#modalWindowListExams" (click)="openModal(i)"><fa-icon [icon]="listIcon"></fa-icon></button>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#modalWindowConfirm" (click)="openModal(i)"><fa-icon [icon]="plusIcon"></fa-icon></button>
        </th>
      </tr>
    </tbody>
  </table>

  <!-- Exam Registration Confirm Modal -->
	<div class="modal fade" id="modalWindowConfirm" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="(this.targetSubject>=0 && currentUser.subjects[this.targetSubject])">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">Register exam {{currentUser.subjects[this.targetSubject].name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<div class="modal-body">
					Are you sure you want to register an exam for {{currentUser.subjects[this.targetSubject].name}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success" data-dismiss="modal" (click)="this.registerExam()">Confirm</button>
				</div>
      </div>
    </div>
	</div>

  <!-- Exam List Modal -->
	<div class="modal fade" id="modalWindowListExams" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="(this.targetSubject>=0 && currentUser.subjects[this.targetSubject])">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">Exam list for {{currentUser.subjects[this.targetSubject].name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<div class="modal-body">
          List of all previous exams for {{currentUser.subjects[this.targetSubject].name}}
          <ul>
            <ng-container *ngFor="let grade of gradesList">
              <li *ngIf="grade.subject.id == currentUser.subjects[this.targetSubject].id">
                <span ><span class="badge badge-info">{{ grade.createDateTime | date:'medium' }}</span> {{ grade.subject.name }} : <span class="badge badge-warning" *ngIf="grade.grade<5">Ungraded</span><span class="badge badge-danger" *ngIf="grade.grade==5">Failed</span><span class="badge badge-success" *ngIf="grade.grade>=6">{{grade.grade}}</span></span>
              </li>
            </ng-container>
          </ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
      </div>
    </div>
	</div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
