<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.firstname }} {{ currentUser.lastname }} ({{ currentUser.username }})</strong> Classes
    </h3>
  </header>
  <div class="row">
    <div class="col-10">
      <select class="h-100 w-100" [(ngModel)]="this.form.class">
        <option disabled selected value>Select class to add</option>
        <option *ngFor="let class of classList; let i = index" [value]="class.id">{{class.name}}</option>
      </select>
    </div>
    <div class="col-2" *ngIf="this.form.class">
      <button type="button" class="btn btn-success mr-3 float-right" (click)="updateClass()"><fa-icon [icon]="plusIcon"></fa-icon></button>
    </div>
  </div>
  <strong>Classes :</strong>
  <ul>
    <div class="alert alert-danger" role="alert" *ngIf="!currentUser.classes.length">
      This user has no classes assigned to them
    </div>
    <table class="table" *ngIf="currentUser.classes.length">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of currentUser.classes; index as i">
          <th scope="row">{{i}}</th>
          <th scope="row">{{class.id}}</th>
          <th>{{class.name}}</th>
          <th>
            <button type="button" class="btn btn-danger mr-3" (click)="deleteClass(class.id)"><fa-icon *ngIf="shouldConfirmDelete !== class.id" [icon]="closeIcon"></fa-icon><span *ngIf="shouldConfirmDelete === class.id">Confirm</span></button>
          </th>
        </tr>
      </tbody>
    </table>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
