<div class="container">
  <header class="jumbotron">
    <h3>
    List of all users
    </h3>
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
    {{successMessagetest}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
    </div>
  </header>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalWindow" (click)="openModalNewUser()"><fa-icon [icon]="plusIcon"></fa-icon></button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
				<th scope="col">Roles</th>
				<th scope="col">Classes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; index as i">
        <th scope="row">{{i}}</th>
        <th scope="row">{{user.id}}</th>
        <th>{{user.username}}</th>
        <th>{{user.firstname}}</th>
        <th>{{user.lastname}}</th>
        <th>{{user.email}}</th>
        <th><span *ngFor="let role of user.roles">{{role.name}} </span></th>
				<th><button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#modalWindowManageClasses" (click)="openModal(i)"><fa-icon [icon]="listIcon"></fa-icon></button></th>
        <th>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#modalWindow" (click)="openModal(i)"><fa-icon [icon]="editIcon"></fa-icon></button>
          <button type="button" class="btn btn-danger mr-3" data-toggle="modal" data-target="#modalWindowDelete" (click)="openModal(i)"><fa-icon [icon]="closeIcon"></fa-icon></button>
        </th>
      </tr>
    </tbody>
	</table>
	
	<!-- Update/Create User Modal Window -->
  <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="this.newUser || (this.targetUser>=0 && this.userList[this.targetUser])">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel" *ngIf="!this.newUser">Update user {{userList[this.targetUser].firstname}} {{userList[this.targetUser].lastname}}</h5>
          <h5 class="modal-title" id="modalWindowLabel" *ngIf="this.newUser">Create user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<form
					name="form"
					(ngSubmit)="f.form.valid && onSaveModal()"
					#f="ngForm"
					novalidate
				>
					<div class="modal-body">
							<div class="form-group">
								<label for="username">Username</label>
								<input
									type="text"
									class="form-control"
									name="username"
									[(ngModel)]="form.username"
									[placeholder]="this.newUser ? this.newUser.username : this.userList[this.targetUser].username"
									minlength="3"
									maxlength="20"
									[required]="this.newUser"
									#username="ngModel"
								/>
								<div class="alert-danger" *ngIf="username.invalid">
									<div *ngIf="username.errors.required">Username is required</div>
									<div *ngIf="username.errors.minlength">
										Username must be at least 3 characters
									</div>
									<div *ngIf="username.errors.maxlength">
										Username must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input
									type="email"
									class="form-control"
									name="email"
									[(ngModel)]="form.email"
									[placeholder]="this.newUser ? this.newUser.email : userList[this.targetUser].email"
									email
									[required]="this.newUser"
									#email="ngModel"
								/>
								<div class="alert-danger" *ngIf="email.invalid">
									<div *ngIf="email.errors.required">Email is required</div>
									<div *ngIf="email.errors.email">
										Email must be a valid email address
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">First name</label>
								<input
									type="text"
									class="form-control"
									name="firstname"
									[(ngModel)]="form.firstname"
									[placeholder]="this.newUser ? this.newUser.firstname : userList[this.targetUser].firstname"
									minlength="3"
									maxlength="20"
									[required]="this.newUser"
									#firstname="ngModel"
								/>
								<div class="alert-danger" *ngIf="firstname.invalid">
									<div *ngIf="firstname.errors.required">First name is required</div>
									<div *ngIf="firstname.errors.minlength">
										First name must be at least 3 characters
									</div>
									<div *ngIf="firstname.errors.maxlength">
										First name must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Last name</label>
								<input
									type="text"
									class="form-control"
									name="lastname"
									[(ngModel)]="form.lastname"
									[placeholder]="this.newUser ? this.newUser.lastname : userList[this.targetUser].lastname"
									minlength="3"
									maxlength="20"
									[required]="this.newUser"
									#lastname="ngModel"
								/>
								<div class="alert-danger" *ngIf="lastname.invalid">
									<div *ngIf="lastname.errors.required">Last name is required</div>
									<div *ngIf="lastname.errors.minlength">
										Last name must be at least 3 characters
									</div>
									<div *ngIf="lastname.errors.maxlength">
										Last name must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Grade</label>
								<input
									type="number"
									class="form-control"
									name="grade"
									[(ngModel)]="form.grade"
									[placeholder]="this.newUser ? this.newUser.grade : userList[this.targetUser].grade"
									min="1"
									max="10"
									[required]="this.newUser"
									#grade="ngModel"
								/>
								<div class="alert-danger" *ngIf="grade.invalid">
									<div *ngIf="grade.errors.required">Grade is required</div>
									<div *ngIf="grade.errors.min">
										Grade must be at least 1 characters
									</div>
									<div *ngIf="grade.errors.max">
										Grade must be at most 10 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Year</label>
								<input
									type="number"
									class="form-control"
									name="year"
									[(ngModel)]="form.year"
									[placeholder]="this.newUser ? this.newUser.year : userList[this.targetUser].year"
									min="1"
									max="10"
									[required]="this.newUser"
									#year="ngModel"
								/>
								<div class="alert-danger" *ngIf="year.invalid">
									<div *ngIf="year.errors.required">Year is required</div>
									<div *ngIf="year.errors.min">
										Year must be at least 1 characters
									</div>
									<div *ngIf="year.errors.min">
										Year must be at most 10 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input
									type="password"
									class="form-control"
									name="password"
									[(ngModel)]="form.password"
									[placeholder]="this.newUser ? '*****' : ''"
									minlength="6"
									[required]="this.newUser"
									#password="ngModel"
								/>
								<div class="alert-danger" *ngIf="password.invalid">
									<div *ngIf="password.errors.required">Password is required</div>
									<div *ngIf="password.errors.minlength">
										Password must be at least 6 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password">Role</label>
								<select
									name="role"
									[(ngModel)]="form.role"
									[required]="this.newUser"
									#role="ngModel"
								>
									<option *ngFor="let role of roles; let i = index">{{role}}</option>
								</select>
								<div class="alert-danger" *ngIf="role.invalid">
									<div *ngIf="role.errors.required">Role is required</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="f.form.valid && onSaveModal()">Save changes</button>
					</div>
				</form>
      </div>
    </div>
	</div>

	<!-- Delete User Confirm Modal Window -->
	<div class="modal fade" id="modalWindowDelete" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="(this.targetUser>=0 && this.userList[this.targetUser])">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">Delete {{userList[this.targetUser].firstname}} {{userList[this.targetUser].lastname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<div class="modal-body">
					Are you sure you want to delete {{userList[this.targetUser].firstname}} {{userList[this.targetUser].lastname}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteUser()">Delete</button>
				</div>
      </div>
    </div>
	</div>
	
	<!-- Classes Manage Modal Window -->
	<div class="modal fade" id="modalWindowManageClasses" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="(this.targetUser>=0 && this.userList[this.targetUser])">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">Manage classes for {{userList[this.targetUser].firstname}} {{userList[this.targetUser].lastname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<div class="modal-body">
					<div class="pb-2">
						<div class="row">
							<div class="col-10">
								<select class="h-100 w-100" [(ngModel)]="this.form.class">
									<option disabled selected value>Select class to add</option>
									<option *ngFor="let class of classList; let i = index" [value]="class.id">{{class.name}}</option>
								</select>
							</div>
							<div class="col-2" *ngIf="this.form.class">
								<button type="button" class="btn btn-success mr-3 float-right" (click)="onSaveModal()"><fa-icon [icon]="plusIcon"></fa-icon></button>
							</div>
						</div>
					</div>
					<table class="table" *ngIf="userList[this.targetUser].classes.length">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">id</th>
								<th scope="col">Name</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let class of userList[this.targetUser].classes; index as i">
								<th scope="row">{{i}}</th>
								<th scope="row">{{class.id}}</th>
								<th>{{class.name}}</th>
								<th><button type="button" class="btn btn-danger mr-3" (click)="deleteClass(class.id)"><fa-icon *ngIf="!shouldConfirmDelete" [icon]="closeIcon"></fa-icon><span *ngIf="shouldConfirmDelete">Confirm</span></button></th>
							</tr>
						</tbody>
					</table>
					<div class="alert alert-danger" role="alert" *ngIf="!userList[this.targetUser].classes.length">
						This user has no classes assigned to them
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
      </div>
    </div>
  </div>
</div>