<div class="container">
  <header class="jumbotron">
    <h3>
    List of all users
    </h3>
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
    {{successMessage}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
    </div>
  </header>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalWindow" (click)="openModalNewUser()"><fa-icon [icon]="plusIcon"></fa-icon></button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; index as i">
        <th scope="row">{{i}}</th>
        <th scope="row">{{user.id}}</th>
        <th>{{user.username}}</th>
        <th>{{user.email}}</th>
        <th><span *ngFor="let role of user.roles">{{role.name}} </span></th>
        <th>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#modalWindow" (click)="openModal(i)"><fa-icon [icon]="editIcon"></fa-icon></button>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#modalWindow" (click)="openModal(i)"><fa-icon [icon]="editIcon"></fa-icon></button>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="this.targetUser">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">{{targetUser.firstname}} {{targetUser.lastname}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<form
					name="form"
					(ngSubmit)="f.form.valid && onSaveModal()"
					#f="ngForm"
					novalidate
				>
					<div class="modal-body">
							<div class="form-group">
								<label for="username">Username</label>
								<input
									type="text"
									class="form-control"
									name="username"
									[(ngModel)]="form.username"
									placeholder={{this.targetUser.username}}
									minlength="3"
									maxlength="20"
									[required]="!this.targetUser.id"
									#username="ngModel"
								/>
								<div class="alert-danger" *ngIf="username.invalid">
									<div *ngIf="username.errors.required">Username is required</div>
									<div *ngIf="username.errors.minlength">
										Username must be at least 3 characters
									</div>
									<div *ngIf="username.errors.maxlength">
										Username must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="email">Email</label>
								<input
									type="email"
									class="form-control"
									name="email"
									[(ngModel)]="form.email"
									placeholder={{targetUser.email}}
									email
									[required]="!this.targetUser.id"
									#email="ngModel"
								/>
								<div class="alert-danger" *ngIf="email.invalid">
									<div *ngIf="email.errors.required">Email is required</div>
									<div *ngIf="email.errors.email">
										Email must be a valid email address
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">First name</label>
								<input
									type="text"
									class="form-control"
									name="firstname"
									[(ngModel)]="form.firstname"
									placeholder={{targetUser.firstname}}
									minlength="3"
									maxlength="20"
									[required]="!this.targetUser.id"
									#firstname="ngModel"
								/>
								<div class="alert-danger" *ngIf="firstname.invalid">
									<div *ngIf="firstname.errors.required">First name is required</div>
									<div *ngIf="firstname.errors.minlength">
										First name must be at least 3 characters
									</div>
									<div *ngIf="firstname.errors.maxlength">
										First name must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Last name</label>
								<input
									type="text"
									class="form-control"
									name="lastname"
									[(ngModel)]="form.lastname"
									placeholder={{targetUser.lastname}}
									minlength="3"
									maxlength="20"
									[required]="!this.targetUser.id"
									#lastname="ngModel"
								/>
								<div class="alert-danger" *ngIf="lastname.invalid">
									<div *ngIf="lastname.errors.required">Last name is required</div>
									<div *ngIf="lastname.errors.minlength">
										Last name must be at least 3 characters
									</div>
									<div *ngIf="lastname.errors.maxlength">
										Last name must be at most 20 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Grade</label>
								<input
									type="number"
									class="form-control"
									name="grade"
									[(ngModel)]="form.grade"
									placeholder={{targetUser.grade}}
									min="1"
									max="10"
									[required]="!this.targetUser.id"
									#grade="ngModel"
								/>
								<div class="alert-danger" *ngIf="grade.invalid">
									<div *ngIf="grade.errors.required">Grade is required</div>
									<div *ngIf="grade.errors.min">
										Grade must be at least 1 characters
									</div>
									<div *ngIf="grade.errors.max">
										Grade must be at most 10 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="username">Year</label>
								<input
									type="number"
									class="form-control"
									name="year"
									[(ngModel)]="form.year"
									placeholder={{targetUser.year}}
									min="1"
									max="10"
									[required]="!this.targetUser.id"
									#year="ngModel"
								/>
								<div class="alert-danger" *ngIf="year.invalid">
									<div *ngIf="year.errors.required">Year is required</div>
									<div *ngIf="year.errors.min">
										Year must be at least 1 characters
									</div>
									<div *ngIf="year.errors.min">
										Year must be at most 10 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input
									type="password"
									class="form-control"
									name="password"
									[(ngModel)]="form.password"
									minlength="6"
									[required]="!this.targetUser.id"
									#password="ngModel"
								/>
								<div class="alert-danger" *ngIf="password.invalid">
									<div *ngIf="password.errors.required">Password is required</div>
									<div *ngIf="password.errors.minlength">
										Password must be at least 6 characters
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password">Role</label>
								<select
									name="role"
									[(ngModel)]="form.role"
									[required]="!this.targetUser.id"
									#role="ngModel"
								>
									<option *ngFor="let role of roles; let i = index">{{role}}</option>
								</select>
								<div class="alert-danger" *ngIf="role.invalid">
									<div *ngIf="role.errors.required">Role is required</div>
								</div>
							</div>

							<div class="alert alert-warning" *ngIf="isSignUpFailed">
								Signup failed!<br />{{ errorMessage }}
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
      </div>
    </div>
  </div>
</div>