<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.firstname }} {{ currentUser.lastname }} ({{ currentUser.username }})</strong> Subjects
    </h3>
  </header>
  <div class="text-success" *ngIf="this.form.subject">
    Select subject to add
  </div>
  <div class="row mb-4">
    <div class="col-11">
      <select class="h-100 w-100" [(ngModel)]="this.form.subject">
        <option disabled selected [value]="none">Select subject to add</option>
        <option *ngFor="let subject of subjectList; let i = index" [value]="subject.id">{{subject.name}}</option>
      </select>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-success mr-3 float-right w-100" (click)="updateSubject()" [disabled]="!this.form.subject"><fa-icon [icon]="plusIcon"></fa-icon></button>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!currentUser.subjects.length">
    This user has no subjects assigned to them
  </div>
  <table class="table" *ngIf="currentUser.subjects.length">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of currentUser.subjects; index as i">
        <th scope="row">{{i}}</th>
        <th scope="row">{{subject.id}}</th>
        <th>{{subject.name}}</th>
        <th>
          <button type="button" class="btn btn-danger mr-3" (click)="deleteSubject(subject.id)"><fa-icon *ngIf="shouldConfirmDelete !== subject.id" [icon]="closeIcon"></fa-icon><span *ngIf="shouldConfirmDelete === subject.id">Confirm</span></button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
