<div class="container">
  <header class="jumbotron">
    <h3>
    List of all classes
    </h3>
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
    {{successMessagetest}}
    </div>
    <div class="alert alert-success" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
    </div>
  </header>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalWindow" (click)="openModalNewClass()"><fa-icon [icon]="plusIcon"></fa-icon></button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Professors</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classList; index as i">
        <th scope="row">{{i}}</th>
        <th scope="row">{{class.id}}</th>
        <th>{{class.name}}</th>
        <th><span *ngFor="let prof of class.users; index as j"><span *ngIf="j>0">,&nbsp;</span>{{prof.firstname}} {{prof.lastname}}</span></th>
        <th>
          <button type="button" class="btn btn-success mr-3" data-toggle="modal" data-target="#modalWindow" (click)="openModal(i)"><fa-icon [icon]="editIcon"></fa-icon></button>
          <button type="button" class="btn btn-danger mr-3" data-toggle="modal" data-target="#modalWindowDelete" (click)="openModal(i)"><fa-icon [icon]="closeIcon"></fa-icon></button>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="this.targetClass">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">{{targetClass.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<form
					name="form"
					(ngSubmit)="f.form.valid && onSaveModal()"
					#f="ngForm"
					novalidate
				>
					<div class="modal-body">
							<div class="form-group">
								<label for="name">Name</label>
								<input
									type="text"
									class="form-control"
									name="name"
									[(ngModel)]="form.name"
									placeholder={{this.targetClass.name}}
									[required]="!this.targetClass.id"
									#name="ngModel"
								/>
								<div class="alert-danger" *ngIf="name.invalid">
									<div *ngIf="name.errors.required">Name is required</div>
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="f.form.valid && onSaveModal()">Save changes</button>
					</div>
				</form>
      </div>
    </div>
  </div>
	<div class="modal fade" id="modalWindowDelete" tabindex="-1" role="dialog" aria-labelledby="modalWindowLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="this.targetClass">
        <div class="modal-header">
          <h5 class="modal-title" id="modalWindowLabel">Delete {{targetClass.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
				<div class="modal-body">
					Are you sure you want to delete {{targetClass.name}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteUser()">Delete</button>
				</div>
      </div>
    </div>
  </div>
</div>